{% extends 'basic.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-5">
        <img src="{{user.userprofile.image.url}}"  alt="user_image">
        <h4 style='margin-left:15%;color:steelblue;'>{{user.userprofile.user}}</h4>
    </div>
    <div class="col-9">
        <b style='color:orange;font-size:18px;'>MBBS:</b> {{user.userprofile.mbbs}}<br>
        <b style='color:orange;font-size:18px;'>Date of Birth:</b> {{user.userprofile.dob}}<br>
        <b style='color:orange;font-size:18px;'>Nationality:</b> {{user.userprofile.nationality}}<br>
    </div>
  </div>
</div>
{% endblock body %}