{% extends 'basic.html' %}
{% block title %}
    MedBD | Doctor
{% endblock title %}
{% block css %}
<style>
    #uno{
        position:fixed;
        bottom:10%;
        right:3%;
    }
</style>
{% endblock css %}
{% block body %}
 <div class="container">
            <form method='post'>
                {% csrf_token %}
                 <button type='submit' id="uno" class='btn btn-success' onclick="myFunction()">Precribed</button>
                <div class='row'>
                    <div class="col-sm-6">
                      <b>  Name:</b> {{pk.name}}<br>
                      <b>  Age :</b> {{pk.age}}<br>
                       <b> Sex :</b> {{pk.gender}}<br>
                       <b> Mobile:</b>0{{pk.mobile}}<br><br>
                                               
                    </div>
                    <div class="col-sm-4">
                        <input type='hidden' name='name'  value='{{pk.name}}' >
                         <input type='hidden' name='email'  value='{{pk.email}}' >
                        <input type='hidden'  name='gender' placeholder='gender' value='{{pk.gender}}'>
                        <input type='date' name='date' placeholder='Date'>
                        <input type='time' name='time' placeholder='Time'>
                        <input type='hidden' name='mobile' placeholder='Mobile' value='{{pk.mobile}}'>
                        <input type='hidden' name='age' value='{{pk.age}}'>
                       
                    </div>
                </div>
                <br>
                <div class='row'>
                    
                         <div class='col-sm-6'>
                            <textarea  name="symptoms" rows="5" cols="50" placeholder="Symptoms/Complain"> {{pk.problem}}</textarea><br>
                            <input type='text' style="width:72%;" name='disease' placeholder='Disease'><br>
                        </div>

                        <div class='col-sm-5'>
                            <div style="position:absolute;right:2%"> 
                                <textarea  name="advice" rows="3" cols="50" placeholder="Advice to Patient"></textarea><br>
                            <textarea  name="investigation" rows="3" cols="50" placeholder="Investigation"></textarea><br>
                            </div>
                        </div>
                </div>
                <div class='row'>
                     <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Type</th>
                                    <th>Group</th>
                                    <th>Take Time</th>
                                    <th>Day</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in range %}
                                <tr>
                                    <td scope="row">{{i}}</td>
                                    <td><select name="med_types_{{i}}">
                                         <option value="0" selected>Select Medicine Type</option>
                                        <option value="Cap">Cap</option>
                                        <option value="Tab">Tab</option>
                                        <option value="Syp">Syp</option>
                                        <option value="Sus">Sus</option>
                                        <option value="Oral">Oral</option>
                                        <option value="Injec">Injec</option>
                                    </select></td>
                                    <td><input type='text'  name="grp_{{i}}" id='grp_{{i}}' class="ui-autocomplete-input"></td>
                                    <td><select name="taken_time_{{i}}">
                                        <option selected>Select  Take Time </option>
                                        <option value="1+1+1">1+1+1</option>
                                        <option value="1+0+1">1+0+1</option>
                                        <option value="1+0+0">1+0+0</option>
                                        <option value="0+1+1">0+1+1</option>
                                        <option value="0+1+0">0+1+0</option>
                                        <option value="0+0+1">0+0+1</option>
                                        <option value="1+1+0">1+1+0</option>
                                        <option value="0+0+0">0+0+0</option>
                                    </select></td>
                                    <td><input type='number' name="day_{{i}}"></td>
                                    <td><input type='number' name="qty_{{i}}"></td>
                                </tr> 
                            {% endfor %} 
                            </tbody>
                        </table>                 
                    </div>
                </div>
            </form>   
        </div>
{% endblock body %}
{% block js %}

<script>
$( function() {
    $( "#grp_1,#grp_2,#grp_3,#grp_4,#grp_5,#grp_6,#grp_7,#grp_8,#grp_9,#grp_10,#grp_11,#grp_12,#grp_13,#grp_14,#grp_15,#grp_16,#grp_17,#grp_18,#grp_19,#grp_20" ).autocomplete({
      source: '{% url 'group' %}',
    });
  } );

function myFunction() {
  let text = "Sure to Prescribe ?";
  if (confirm(text) == true) {
    
  } else {
    
  }
}
</script>

{% endblock js %}
